.contenedor-opciones {

    position: fixed;
    left: 10px;

    margin: 500px 10px 10px 10px;
    color: black;
    width: 280px;
    max-width: 280px;
}

.contenedor-opciones p {
    font-size: smaller;
}