<ion-content [fullscreen]="true">
  <div class="container">
    <div class="letras">

      <form [formGroup]="credentials" (ngSubmit)="login()">

        <label for="exampleDataList" class="form-label">Usuario</label>
        <input class="form-control" type="email" placeholder="Email" formControlName="email">
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors" color="danger">Formato
          de email no válido.
        </ion-note>

        <label for="exampleDataList" class="form-label mt-3">Contraseña</label>
        <input class="form-control" type="password" placeholder="Password" formControlName="password">
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors" color="danger">Formato de
          contraseña no
          válido. Mínimo 8 caracteres.
        </ion-note>
        <br>

        <ion-button expand="block" type="submit" [disabled]="!credentials.valid">
          <ion-icon name="log-in-outline"></ion-icon>&nbsp; Iniciar sesión
        </ion-button>

      </form>



    </div>
    <div class="registro">

      ¿No tienes una cuenta?<br>
      <a href="#" [routerLink]="['/registro/']">Registrate aquí</a>
    </div>
  </div>
</ion-content>