<ion-content>
    <app-cargando-mapa *ngIf="!isUserLocationReady; else mapaCargado"></app-cargando-mapa>

    <ng-template #mapaCargado>
        <div class="contenedor">
            <app-mapa-vista></app-mapa-vista>
            <app-mi-ubicacion></app-mi-ubicacion>
            <app-buscador></app-buscador>
            <app-cerrar-sesion></app-cerrar-sesion>
            <app-resultado-direccion></app-resultado-direccion>
            <p *ngIf="distance;then distancia else nada"></p>
            <ng-template #nada></ng-template>
            <ng-template #distancia>
                <app-opciones-destino [distance]="distance" [time]="time"></app-opciones-destino>
            </ng-template>

        </div>

    </ng-template>



</ion-content>